<!DOCTYPE html>
<html >
<head lang="en">
    <meta charset="UTF-8">
    <title>Math for Kids</title>
    <link rel="stylesheet" href="css/math_style.css"/>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angularjs/angular.js"></script>
    <script src="controller.js"></script>
</head>

<body ng-app="app">
<div ng-controller="controller">
    <div style="margin-left: 5px">
        <form>
            <span ng-bind="a"></span> + <span ng-bind="b"></span> =
            <span><input class="question" ng-model="answer"></span>
            <button class="btn btn-primary" ng-disabled="!may_check()" type="submit" ng-click="check_answer()">Check</button>
            <button class="btn btn-success" disabled="1" ng-if="right===true">Right</button>
            <button class="btn btn-danger" disabled="1" ng-if="right===false">Wrong</button>
            <button class="btn btn-info" ng-click="new_problem()">New Problem</button>
        </form>
    </div>
    <hr>
    <div style="margin-left: 5px">
    <table>
        <tr>
            <th><strong>Statistics&nbsp;</strong></td>
            <th><span class="label label-success">Right</span></td>
            <th><span class="label label-danger">Wrong</span></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <span ng-bind="count_right"></span>
            </td>
            <td>
                <span ng-bind="count_wrong"></span>
            </td>
        </tr>
    </table>
    </div>
</div>
</body>
</html>
